<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/../../../css/mypage.css">
    <title>맡겨줘-내 정보</title>
</head>
<body>
    <%-include("../../header.ejs")%>
    <div id="body">
        <%- include("../menu.ejs") %>
        <div class="container">
            <h2>내가 등록한 보관함</h2>
            <ul id="mylocker">
                <script>
                    function selectAll(e){
                        let checkbox = document.getElementsByName('locker');
                        checkbox.forEach((x) => {
                            x.checked = e.checked;
                        })
                    }
                </script>
                <span><%= mylocker.length %>개의 보관함이 있습니다.</span>
                <div>
                    <input type="checkbox" id="all" name="locker"  onclick="selectAll(this)">
                    <b>
                        전체 선택 
                    </b>
                </div>
                <form method="post" id="lockerlist">
                <% for(let i = 0;i < mylocker.length ;i++) {%>
                    <div>
                        <div>
                            <input type="checkbox" name="locker" value="<%= mylocker[i].stationName %>">
                        </div>
                        <div>
                            <li><b>보관함 이름:</b> <%= mylocker[i].stationName %></li>
                            <li><b>보관함 주소:</b> <%= mylocker[i].address %></li>
                            <li><b>등록자:</b> <%= mylocker[i].userName %></li>
                        </div>
                    </div>
                        
                        <% } %>
                </form>
                <div id="control">
                    <button type="submit" form="lockerlist">삭제</button>
                    <button onclick="location.href='/routes/add'">추가하기</button>
                </div>
            </ul>
        </div>
    </div>

</body>
</html>