<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/../../css/mypage.css">
    <title>맡겨줘-내 정보</title>
</head>
<body>
    <%- include("../common/header.ejs") %>
    <div id="body">
        <%- include('menu.ejs') %>
        <div class="container">
            <h2>내 회원정보</h2>
            <ul class="userInfo">
                <b>아이디</b>
                <li><%= user.id %></li>
                <b>이름</b>
                <li><%= user.name %></li>
                <b>이메일</b>
                <li><%= user.email %></li>
                <button id="modiButton" onclick="openPop()">회원정보 수정하기</button>
            </ul>
        </div>
    </div>

</body>
</html>