<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/manage.css">
    <title>관리자 페이지</title>
</head>
<body>
    <div id="body">
        <ul id="menu">
            <a class="navbar" href="/"><img src="/img/logo4.png" alt=""><h2>관리자페이지</h2></a>
            <div>
                <b><a href="/routes/manage">회원관리</a></b>
                <li id="userlinfo"><a href="/routes/manage/user">회원정보수정</a></li>
                <li id="withdrawl"><a href="/routes/manage/user">회원탈퇴</a></li>
            </div>
            
            <div>
                <b>보관함관리</b>
                <li id="myLocker"><a href="/routes/user/mylocker/myLocker">내가 등록한 보관함</a></li>
            </div>
        </ul>        
        <div class="container">
            <h2>회원 관리</h2>
            <form>
                <select name="authority" >
                    <option value="none">=== 선택 ===</option>
                    <option value="manager">관리자</option>
                    <option value="usual">일반</option>
                  </select>
                <div class="search">
                        <div id="search-bar">
                            <input id="search-input" type="search" placeholder="회원을 검색하세요." value="">
                            <button id="btn1" type="submit"><img src="/img/001-search.png" alt="Search"></button>
                        </div>
                </div>
            </form>
            <ul id="userlist">
                <script>
                    function selectAll(e){
                        let checkbox = document.getElementsByName('user');
                        checkbox.forEach((x) => {
                            x.checked = e.checked;
                        })
                    }
                </script>
                <span><%= users.length %>명의 회원</span>
                <form method="post" id="lockerlist">
                <% if(!users.length){%>
                    <div>
                        <div>회원이 존재하지 않습니다.</div>
                    </div>    
                <% } %>
                <table id="users">
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="all" name="user"  onclick="selectAll(this)"></td>
                            <th>아이디</th>
                            <th>회원 이름</th>
                            <th>이메일</th>
                            <th>등급</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% for(let i = 0;i < users.length ;i++) {%>
                            
                            <tr>
                                <td>
                                    <input type="checkbox" name="user" id="userChk<%=i%>" value="<%= users[i].stationName %>">
                                </td>
                                    <td><label for="userChk<%=i%>"><a onclick="userClick(this)"><%= users[i].id %></a></label></td>
                                    <td><label for="userChk<%=i%>"><%= users[i].name %></label></td>
                                    <td><label for="userChk<%=i%>"><%= users[i].email %></label></td>
                                    <td><label for="userChk<%=i%>"><%= users[i].authority %></label></td>
                                </tr>                            
                            
                    <% } %>
                    </tbody>
                </table>
                </form>
                <div id="control">
                    <button type="submit" form="lockerlist">삭제</button>
                    <button onclick="location.href='/routes/add'">추가하기</button>
                </div>
            </ul>
        </div>
        <script>
            var userlist =  "<%=JSON.stringify(users)%>";
                userlist = userlist.replaceAll('&#34;','\"');
                userlist = JSON.parse(userlist);

            function userClick(e){
                let username, useremail, userfavorites, userauthority;

                userlist.forEach(x=>{
                    if(x.id === e.text){
                        username = x.name;
                        useremail = x.email;
                        userfavorites = x.favorites.join(',');
                        console.log(userfavorites)
                        userauthority = x.authority;
                    }
                })
                let info = document.getElementById("info");
                let id = document.getElementById("id");
                let name = document.getElementById("name");
                let email = document.getElementById("email");
                let authority = document.getElementById("authority");
                let favorites = document.getElementById("favorites");
                
                id.innerHTML = `<b>아이디: </b>${e.text}`
                name.innerHTML = `<b>이름: </b>${username}`
                email.innerHTML = `<b>이메일: </b>${useremail}`
                authority.innerHTML = `<b>권한: </b>${userauthority}`
                favorites.innerHTML = `<b>즐겨찾기: </b>${userfavorites}`
                
            }
        </script>
        <div id="popup">
            <div id="userInfo">
                <ul>
                    <li>회원 정보</li>
                    <li>등록한 보관함</li>
                </ul>
                <ul id="info">
                    <li id="id"></li>
                    <li id="name"></li>
                    <li id="email"></li>
                    <li id="authority"></li>
                    <li id="favorites"></li>
                </ul>
            </div>
        </div>
    </div>

</body>
</html>