<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/manage.css">
    <title>관리자 페이지</title>
</head>
<body>
    <div id="body">
        <ul id="menu">
            <a class="navbar" href="/"><img src="/img/logo4.png" alt=""><h2>관리자페이지</h2></a>
            <div>
                <b><a href="/routes/manage">회원관리</a></b>
                <li id="userlinfo"><a href="/routes/manage/user">회원정보수정</a></li>
                <li id="withdrawl"><a href="/routes/manage/user">회원탈퇴</a></li>
            </div>
            
            <div>
                <b>보관함관리</b>
                <li id="myLocker"><a href="/routes/user/mylocker/myLocker">보관함</a></li>
            </div>
        </ul>        
        <div class="container">
            <h2>회원 관리</h2>
            <form>
                <select name="authority" onchange="selectAuth()" >
                    <option value="none">=== 선택 ===</option>
                    <option value="manager">관리자</option>
                    <option value="usual">일반</option>
                  </select>
                <div class="search">
                        <div id="search-bar">
                            <input id="search-input" type="search" placeholder="회원을 검색하세요." value="" onkeyup="filter()">
                            <button id="btn1" onclick="filter()"><img src="/img/001-search.png" alt="Search"></button>
                        </div>
                </div>
            </form>
            <ul id="userlist">

                <script>
                    function selectAll(e){
                        let checkbox = document.getElementsByName('user');
                        checkbox.forEach((x) => {
                            x.checked = e.checked;
                        })
                    }
                </script>
                <span><%= users.length %>명의 회원</span>
                <form method="post" id="lockerlist">
                <% if(!users.length){%>
                    <div>
                        <div>회원이 존재하지 않습니다.</div>
                    </div>    
                <% } %>
                <table id="users">
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="all" name="user"  onclick="selectAll(this)"></td>
                            <th>아이디</th>
                            <th>회원 이름</th>
                            <th>이메일</th>
                            <th>등급</th>
                        </tr>
                    </thead>
                    <tbody >
                    <% for(let i = 0;i < users.length ;i++) {%>
                            <tr class="userItem">
                                <td>
                                    <input type="checkbox" name="user" id="userChk<%=i%>" value="<%= users[i].stationName %>">
                                </td>
                                    <td id="userId"><label for="userChk<%=i%>"><a onclick="userClick(this)"><%= users[i].id %></a></label></td>
                                    <td id="userName"><label for="userChk<%=i%>"><%= users[i].name %></label></td>
                                    <td><label for="userChk<%=i%>"><%= users[i].email %></label></td>
                                    <td><label for="userChk<%=i%>"><%= users[i].authority %></label></td>
                                </tr>                            
                    <% } %>
                    </tbody>
                </table>
                </form>
                <div id="control">
                    <button type="submit" form="lockerlist">삭제</button>
                    <button onclick="location.href='/routes/add'">추가하기</button>
                </div>
            </ul>
        </div>
        <script type="text/javascript" src="/js/manage.js"></script>

        <script>
            var userlist =  "<%=JSON.stringify(users)%>";
                userlist = userlist.replaceAll('&#34;','\"');
                userlist = JSON.parse(userlist);

            var lockerlist =  "<%=JSON.stringify(lockers)%>";
            lockerlist = lockerlist.replaceAll('&#34;','\"');
            lockerlist = JSON.parse(lockerlist);

        </script>
        <div id="popup">
            <div id="userInfo">
                <ul>
                    <li onclick="showUser()">회원 정보</li>
                    <li onclick="showLocker()">보관함</li>
                </ul>
                <ul id="info">
                </ul>
                <button onclick="closePop()">닫기</button>
            </div>
        </div>
    </div>

</body>
</html>